{{ define "filterForm" }}
<form
  id="filterForm"
  hx-post="/tasks/filter"
  hx-target="#tableResults"
  hx-swap="outerHTML"
  hx-trigger="load delay:0.2s, submit"
  x-data="{
    availableSprints: [{{ .Sprints }}],
    reset() {
      $el.reset();
      htmx.trigger($el, 'submit');
    },
    getDelta(d) {
      let delta;
      switch (d.getDay()) {
        case 0:
          delta = 2;
          break;
        case 1:
          delta = 3;
          break;
        default:
          delta = 1;
      }
      return delta;
    },

    getDate() {
      let date = new Date();

      let delta = this.getDelta(date);

      return new Date(new Date().setDate(date.getDate() - delta))
        .toISOString()
        .split('T')[0];
    },
    
    addSprint($event) {
      const target = $event.target;
      target.classList.toggle('btn-outline-light');
      target.classList.toggle('btn-light');

      const value = target.innerText.trim();
      
      const hasInput = htmx.find(`#sprints > input[value='${value}']`);
      if (hasInput) {
        hasInput.remove()
      } else {
        const sprints = htmx.find('#sprints');
        sprints.innerHTML += `<input value='${value}' name='sprint' type='hidden' />`
      }
    }
  };"
  x-init="window.addEventListener('newAvailableSprint', event => {
    const sprint = event.detail.sprint;
    if (sprint && !availableSprints.includes(sprint)) {
      availableSprints.push(sprint)
    }
  })"
>
  <div class="mb-3">
    <label for="tag" class="form-label text-secondary">Tag</label>
    <input type="text" name="tag" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="completed" class="form-label text-secondary">Completed</label>
    <select name="completed" class="form-select">
      <option value="0">Ignore</option>
      <option value="1">Completed</option>
      <option value="2">Not Completed</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="sprint" class="form-label text-secondary">Sprint</label>
    <div id="sprints"></div>
    <div id="sprints_available" class="form-inline">
      <template x-for="sprint in availableSprints">
        <button
          @click="addSprint($event)"
          x-text="sprint"
          type="button"
          class="btn btn-outline-light m-1"
        ></button>
      </template>
    </div>
  </div>
  <div class="mb-3 bg-body-tertiary p-2 rounded">
    <label class="form-label text-secondary">Start At</label>
    <input type="date" name="from_start_at" class="form-control mb-3" />
    <input type="date" name="to_start_at" class="form-control" />
  </div>
  <div class="mb-3 bg-body-tertiary p-2 rounded">
    <label class="form-label text-secondary">End At</label>
    <input type="date" name="from_end_at" class="form-control mb-3" />
    <input type="date" name="to_end_at" class="form-control" />
  </div>
  <div class="d-flex">
    <button class="btn btn-primary">Filter</button>
    <button
      type="button"
      @click="reset()"
      class="btn btn-outline-warning ms-auto"
    >
      Reset
    </button>
  </div>
</form>
{{ end }}
