{{ define "formTabs" }}
<div
  x-data="{
      filter: true,
      activate(target, deactivateFromSelector) {
        htmx.addClass(target, 'active');
        htmx.removeClass(htmx.find(deactivateFromSelector), 'active');
      },
      activateFilterForm(target) {
        this.activate(target, '#createFormLink'); this.filter = true
      },
      activateCreateForm(target) {
        this.activate(target, '#filterFormLink'); this.filter = false
      },
    }"
>
  <!-- prettier-ignore -->
  <section id="tabs">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item" role="tab">
          <a href="#" class="nav-link active" id="filterFormLink" @click="activateFilterForm($event.target)">Filter</a>
        </li>
        <li class="nav-item" role="tab">
          <a href="#" class="nav-link" id="createFormLink" @click="activateCreateForm($event.target)">Create</a>
        </li>
      </ul>
    </section>
  <section id="formSections">
    <section id="filterSection" x-show="filter">
      {{ template "filterForm" . }}
    </section>
    <section id="createSection" x-show="!filter">
      {{ template "createForm" . }}
    </section>
  </section>
</div>
{{ end }}
