{{ define "index" }}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
  </head>
  <body>
    <main class="container">
      <div class="my-4 py-4">
        <p class="lead text-center text-secondary">ttgowebdd</p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">{{ template "formTabs" . }}</div>
          <!-- prettier-ignore -->
          <section id="tableSection" class="col-sm-9" style="height: 80vh; overflow-y: auto">
            {{ template "taskResults" . }}
          </section>
        </div>
      </div>
    </main>
  </body>
</html>

{{ end}}
