{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
  </head>
  <body>
    <main class="container">
      <div class="my-4 py-4">
        <p class="lead text-center text-secondary">ttgowebdd</p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3" x-data="{
              filter: true,
              activate(target, deactivateFromSelector) {
                htmx.addClass(target, 'active');
                htmx.removeClass(htmx.find(deactivateFromSelector), 'active');
              },
            }">
            <!-- prettier-ignore -->
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item" role="tab">
                <a href="#" class="nav-link active" id="filterFormLink" @click="activate($event.target, '#createFormLink'); filter = true">Filter</a>
              </li>
              <li class="nav-item" role="tab">
                <a href="#" class="nav-link" id="createFormLink" @click="activate($event.target, '#filterFormLink'); filter = false">Create</a>
              </li>
            </ul>
            <section id="formSections">
              <section id="filterSection" x-show="filter">
                {{ template "filter_form" }}
              </section>
              <section id="createSection" x-show="!filter">
                {{ template "create_form" }}
              </section>
            </section>
          </div>
          <!-- prettier-ignore -->
          <section id="tableSection" class="col-sm-9" style="height: 80vh; overflow-y: auto">
            {{ template "task_results" . }}
          </section>
        </div>
      </div>
    </main>
  </body>
</html>

{{ end}}

<!-- prettier-ignore-start -->
{{ define "task_results" }}
<!-- prettier-ignore-end-->
<table class="table table-striped table-hover" id="tableResults">
  <thead>
    <tr>
      <td class="col-sm-1 text-center">Tag</td>
      <td>Description</td>
      <td>Started at</td>
      <td>Finished in</td>
      <td colspan="2" class="text-center">Update</td>
    </tr>
  </thead>
  <tbody id="tableResultsBody">
    {{ range . }} {{ template "task_row" . }} {{ end }}
  </tbody>
</table>
{{ end }}

<!-- prettier-ignore-start -->
{{ define "task_row" }}
<!-- prettier-ignore-end-->
<tr>
  <td class="col-sm-1">{{ .GetTag }}</td>
  <td>{{ .GetDescription }}</td>
  <td>{{ .GetStartAt.Format "2006-01-02 15:04:05" }}</td>
  <!-- prettier-ignore -->
  <td>
    {{ if .GetEndAt }}
      {{ .GetEndAt.Format "2006-01-02 15:04:05" }}
    {{ else }}
      0000-00-00 00:00:00
    {{ end }}
  </td>
  <td>
    <button
      hx-put="/tasks"
      hx-ext="json-enc"
      hx-vals='{ "operation": "end", "id": {{ .GetId }} }'
      hx-target="closest tr"
      hx-swap="outerHTML"
      class="btn btn-sm btn-outline-info"
    >
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </td>
  <td>
    <button
      hx-put="/tasks"
      hx-ext="json-enc"
      hx-vals='{ "operation": "complete", "id": {{ .GetId }} }'
      hx-target="closest tr"
      hx-swap="outerHTML"
      class="btn btn-sm {{ if .GetCompleted }}btn-success{{ else }}btn-outline-success{{ end }}"
    >
      <i
        class="bi {{ if .GetCompleted }}bi-check-circle-fill{{ else }}bi-circle{{ end }}"
      ></i>
    </button>
  </td>
</tr>
{{ end }}

{{ define "filter_form" }}
  <form
    hx-post="/tasks/filter"
    hx-ext="json-enc"
    hx-target="#tableResults"
    hx-swap="outerHTML"
  >
    <div class="mb-3">
      <label for="tag" class="form-label text-secondary">Tag</label>
      <input type="text" name="tag" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="completed" class="form-label text-secondary">Completed</label>
      <select name="completed" class="form-select">
        <option value="0">Ignore</option>
        <option value="1">Completed</option>
        <option value="2">Not Completed</option>
      </select>
    </div>
    <div class="mb-3 bg-body-tertiary p-2 rounded">
      <label class="form-label text-secondary">Start At</label>
      <input type="date" name="from_start_at" class="form-control mb-3" />
      <input type="date" name="to_start_at" class="form-control" />
    </div>
    <div class="mb-3 bg-body-tertiary p-2 rounded">
      <label class="form-label text-secondary">End At</label>
      <input type="date" name="from_end_at" class="form-control mb-3" />
      <input type="date" name="to_end_at" class="form-control" />
    </div>
    <div class="d-flex">
      <button class="btn btn-primary">Filter</button>
      <button
        hx-get="/"
        hx-target="body"
        class="btn btn-outline-warning ms-auto"
      >
        Reset
      </button>
    </div>
  </form>
{{ end }}
