{{ define "taskResults" }}
<table class="table table-striped table-hover" id="tableResults">
  <thead>
    <tr>
      <td class="col-sm-1 text-center">Tag</td>
      <td class="text-center">Sprint</td>
      <td>Description</td>
      <td>Started at</td>
      <td>Finished in</td>
      <td colspan="2" class="text-center">Update</td>
    </tr>
  </thead>
  <tbody id="tableResultsBody">
    {{ range . }} {{ template "taskRow" . }} {{ end }}
  </tbody>
</table>
{{ end }}

<!-- prettier-ignore-start -->
{{ define "taskRow" }}
<!-- prettier-ignore-end-->
<tr>
  <td class="col-sm-1">{{ .GetTag }}</td>
  <td class="text-center">{{ .GetSprint }}</td>
  <td>{{ .GetDescription }}</td>
  <td>{{ .GetStartAt.Local.Format "2006-01-02 15:04:05" }}</td>
  <!-- prettier-ignore -->
  <td>
    {{ if .GetEndAt }}
      {{ .GetEndAt.Local.Format "2006-01-02 15:04:05" }}
    {{ else }}
      0000-00-00 00:00:00
    {{ end }}
  </td>
  <td>
    <button
      hx-put="/tasks"
      hx-ext="json-enc"
      hx-vals='{ "operation": "end", "id": {{ .GetId }} }'
      hx-target="closest tr"
      hx-swap="outerHTML"
      class="btn btn-sm btn-outline-info"
    >
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </td>
  <td>
    <button
      hx-put="/tasks"
      hx-ext="json-enc"
      hx-vals='{ "operation": "complete", "id": {{ .GetId }} }'
      hx-target="closest tr"
      hx-swap="outerHTML"
      class="btn btn-sm {{ if .GetCompleted }}btn-success{{ else }}btn-outline-success{{ end }}"
    >
      <i
        class="bi {{ if .GetCompleted }}bi-check-circle-fill{{ else }}bi-circle{{ end }}"
      ></i>
    </button>
  </td>
</tr>
{{ end }}
